/*! style.css @ 2017, yamoo9.net */
abbr[title] {
  cursor: help;
}

.container{
  width: 80%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#study-content{
  list-style: none;
  margin-top: 2rem;
  padding-left: 0;
}

#study-content .link-content{
  text-decoration: none;
  color: #1ac1e5;
  font-size: 1.1rem;
  transition: all 0.8s ease-out;
}

#study-content .link-content:hover{
  color: #1a7e87;
}

#study-content .active .link-content{
  color: #2caeb7;
  font-size: 1.3rem;
}
