// Clearfix
=clearfix
  &:after,
  &:before
    display: block
    content: ""
    clear: both

// Media queries
=media($view)
  @if $view == "m"
    @media screen and (min-width: 320px) and (max-width: 767px)
      @content
  @else if $view == "t"
    @media screen and (min-width: 768px) and (max-width: 1199px)
      @content
  @else if $view == "d"
    @media screen and (min-width: 1200px)
      @content
  @else
    @media screen and (min-width: $view)
      @content
