body {
  background: #eee;
  font-family: sans-serif;
}

.content-box {
  box-sizing: content-box;
  background-color: #72DDF7;
  width: 500px;
  height: 450px;
  padding: 20px;
  margin: 0 auto
}

.border-box {
  box-sizing: border-box;
  background-color: #72DDF7;
  width: 500px;
  height: 450px;
  padding: 20px;
  margin: 40px auto 0 auto;
}

.content-box section, .border-box section {
  background-color: #8093F1;
  height: 100%;
  text-align: center;
}

.content-box p, .border-box p {
  margin: 0;
  padding: 0;
  font-weight: bold
}
