@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

/* z-index won't work in position: static(which is default) */

/* Relative position */
/* positioning from its original place. it doesn't affect another elements. It keeps the original block area */
h2{
  background-color: yellow;
  position: relative;
  top:50px;
  left: 100px;
}
/* Absolte position */
/* Every element becomes block element with positoin: absolute */
/* absolute position within the parent element */
/* But when choosing a parents, parents must NOT be position: static */
div{
  position: relative;
  height: 100px;
  background-color: aqua;
}
h3{
  background-color: pink;
  position: absolute;
  bottom: 0px;
  right: 0;
}

/* Fixed set the position stick on the viewport (screen) */
span{
  background-color: orange;
  position: fixed;
  top: 10px;
  right: 10px;
}
