@charset "utf-8";
@import "fonts.css";



/* Reset */
html, body {
  margin: 0;
}

html{
  font-size: 10px;
}

body {
  background-color: #fff;
  color: #181818;
  font-size: 1.4rem;
  font-family: 'Noto Sans Regular', sans-serif;
  line-height: 1.2;
}

.ally{
  left: -200px;
  position: absolute;
  transition: all 0.7s linear;
}

.ally:focus{
  background-color: #000;
  color: #fff !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 2em;
  z-index: 10;
}

.sr-only,
legend{
  width: 1px;
  height: 1px;
  margin: -1px; /* getting rid off the 1px element */
  clip: rect(0,0,0,0); /* New version */
  clip: rect(0 0 0 0); /* For older browser */
  overflow: hidden;
  position: absolute;
}
.wrapper {
  background-color: yellow;
  background-image: url('./images/bg_flower.png'), linear-gradient(to bottom, #999 0%, #eee 70%, #fff 80%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 30px, 0 0;
  height: 100vh;
}
a:link,
a:visited{
  color: inherit;
  text-decoration: none;
}
/*visited, hover and focus must be written below a:link*/
a:hover,
a:focus{
  color: #f00;
}





/* No. using Tag selector is slower than class selector. That's the reason */
.header, .visual, .main-content, .slogan, .footer {
  box-sizing: border-box;
  /* it include margin and padding within the width */
  /* box sizing is used in mobile screen / usually */
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  position: relative;
  padding: 0 30px 30px;
  border-radius: 0 0 15px 15px;
}
.logo{
  position: absolute;
  margin: 0;
  top: 45px;
  left: 65px;
}
.logo img,
.logo a{
  display: block;
  /* because img is inline, it has little margin under baseline */
}

.info-menu{
  list-style: none;
  padding: 2px 0;
  margin: 0;
  text-align: right;
}
.info-menu li,
.info-menu li a{
  display: inline-block; /* inline ignores width and height, Also top/bottom margin won't work */
  /* inline-block won't work in IE */

}
.info-menu a::after{
  content: ":";
  padding-left: 10px;
}
.info-menu a{
  padding: 8px 0 8px 8px;
  text-transform: uppercase;
}
.info-menu li:last-child a::after{
  padding: 0;
  content: "";
}
.main-menu{
  background-color: yellow;
  background-image: linear-gradient(to bottom, #eaac2e 0%, #f2752e 35%, #f2752e 70%, #eaac2e 100%);
  margin: 0;
  list-style: none;
  padding-left: 225px;
  height: 45px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
}
.main-menu a {
  outline: 0;
}

.main-menu ul{
  list-style: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 47px;
}
.main-menu ul li{
  display: inline-block;
}
.about-html{
  display: none;
}
.about-css{
  display: none;
}
.web-standard{
  display: none;
}
ul.web-accessibility{
  display: none;
  left: -120px;
}
ul.qna{
  display: none;
  left: -150px;
}
ul.archive{
  display: none;
  left: -330px;
}

.main-menu ul a{
  padding: 6px 0 5px 0;
  margin-right: 10px;
}
.main-menu ul a::before{
  content: "r";
  font-family: 'webcafeIcon';
  position: relative;
  top: 2px;
}
.main-menu ul a:hover::before,
.main-menu ul a:focus::before{
  content: "c";
}

.main-menu > li{
  float: left;
  position: relative;
}
.main-menu > li > a{
  font-family: "Noto Sans Bold";
  color: #fff;
  font-size: 1.6rem;
  border-left: 1px solid #fff;
  line-height: 45px;
  display: block;
  outline: 0 none;
  padding: 0 20px;
  text-shadow: 1px 0px 0 rgba(0,0,0,0.5), 0px 1px 0 rgba(0,0,0,0.5), -1px 0px 0 rgba(0,0,0,0.5), 0px -1px 0 rgba(0,0,0,0.5);  /* 윤곽선 만드는 Trick */
}
.main-menu > li > a:hover{

  color: gold;
}
.main-menu > li > a:hover::after,
.main-menu > li > a:focus::after{
  content: "";
  background-color: green;
  display: block;
  height: 2px;
  background: #000;
}
/* Visual */

.visual {
  height: 120px;
  position: relative;
}
@keyframes text-ani {
  from{
    font-size: 12px;
    opacity: 0;
    transform: translate(0, 0);
  }
  to{
    font-size: 24px;
    opacity: 1;
    transform: translate(400px, 75px);
  }
}
.visual-text{
  position: absolute;
  display: inline-block;
  opacity: 0;
  animation-name: text-ani;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.visual::before,
.visual::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation-name: flower-ani;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes flower-ani {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.3;
  }
}
.visual::before{
  background: url('./images/ani_flower_01.png') no-repeat 0 -15px,
  url('./images/ani_flower_02.png') no-repeat 670px 0;
  animation-duration: 3.3s;
  animation-timing-function: linear;
}
.visual::after{
  background: url('./images/ani_flower_03.png') no-repeat 300px -15px,
  url('./images/ani_flower_04.png') no-repeat 800px 15px;
  animation-duration: 4.8s;
  animation-timing-function: ease-in-out;
}

.main-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px;
  background-color: #fff;
  min-height: 400px;
  border-radius: 15px 15px 0 0;
}


.group1 {
  background-color: #fff;
  width: 250px;
}
.login{
  background: radial-gradient(circle at top right, #eaac2e, #f2752e);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
}
.login-heading{
  margin: 0;
  font-size: 1.6rem;
  padding-left: 10px;
  color: #ff0;
}
.login fieldset{
    border: none;
    padding: 0;
    margin: 0;
}
.login-form{
  background-color: #fff;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  border-radius: 10px 10px 0 0;
}

.login-form fieldset{
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.user-email,
.user-pw{
  padding-bottom: 5px;
}
.btn-login{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #f00;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    background: #f00;
    border-radius: 5px;
    color: #fff;
    font-family: "Noto Sans Bold";
    font-size: 1.2rem;
}
.login-form label{
  display: inline-block;
  width: 4rem;
  vertical-align: middle;
}

.login-form input{
  box-sizing: border-box;
  border: 1px solid #aaa;
  width: 100px;
  height: 22px;
  padding: 1px 1px 1px 5px;
}

.member-info{
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 2px 10px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
.member-info li:nth-of-type(1){
  float: left;
}
.member-info li:nth-of-type(2){
  float: right;
}
.member-info::after{
  content: "";
  display: table;
  clear: both;
}
.member-info a{
  padding: 6px 0;
  display: block;
  letter-spacing: -1px;
}
.member-info a::before{
  content: "g";
  font-family: 'webcafeIcon';
  color: #f00;
  position: relative;
  top: 2px;
}


.validation-list{
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}
.validation-list li a{
  display: block;
  background: url('./images/validation_icon.png') no-repeat 15px 50%, linear-gradient(to bottom, #eee 0%, #ccc 100%);
  background-size: 15px 15px, 100%;
  border: 1px solid #aaa;
  border-radius: 15px;
  margin: 10px 0;
  height: 30px;
  line-height: 30px;
  text-indent: 45px;
}

.term{
  background: #ccc linear-gradient(to bottom, #eee, #ccc);
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 15px;
}
.term-list{
  margin: 10px 0 0 0;
}
.term-heading{
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Noto Sans Bold', sans-serif;
}
.term-list::after{
  content: "";
  display: block;
  clear: both;
}
.term-list dt{
  float: right;
  width: 145px;
  margin-bottom: 5px;
  color: #296897;
  font-weight: 700;
}
.term-list dd{
  margin: 0;
}
.term-list dd:nth-of-type(1){
  float: left;
}
.term-list dd:nth-of-type(2){
  float: right;
  width: 145px;
  line-height: 1.5;
}
.group2 {
  width: 380px;
}
.search{
  border-radius: 20px 20px 0 0;
  padding: 15px 25px 10px 25px;
  background: #ccc linear-gradient(to bottom, #ccc, #fff);
}
.search-form fieldset{
  border: 0 none;
  margin: 0;
  padding: 0;
}
.search-form label{
  margin-right: 5px;
}
.search-form label::before{
  content: 'z';
  font-family: 'webCafeIcon';
  font-size: 1.6rem;
  position: relative;
  top: 3px;
}
.search-form input[type="search"]{
  width: 200px;
  height: 22px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 5px;
}
.btn-search{
  border: 1px solid #aaa;
  background: #333 linear-gradient(to bottom, #999, #333);
  color: #fff;
  padding: 1px 10px 1px 10px;
  font-size: 1.3rem;
  border-radius: 3px;
}

.board{
  margin-top: 20px;
  position: relative;
  min-height: 170px;
}
.notice-heading,
.pds-heading{
  margin: 0;
  font-size: 1.4rem;
  position: absolute;
  top: 0;
}
.notice-heading{
  left: 0;
}
.pds-heading{
  left: 74px;
}
a.tab{
  background: #ccc linear-gradient(to bottom, #eee, #ccc);
   border: 1px solid #aaa;
   border-radius: 5px 5px 0 0;
   color: #666;
   display: block;
   padding: 5px 10px;
}.board-active .tab{
    background: #fff;
    border: 1px solid #ff0000 ;
    border-bottom-color: #fff;
    color: #f00;
}
.notice-list, .pds-list, .notice-more, .pds-more{
    display: none;
}
.board-active [class$="list"],
.board-active [class$="more"]{
    display: block !important;
}

.notice-list, .pds-list{
    margin: 0;
    padding-top: 40px;
    padding-left: 0;
    list-style: none;
}

.notice-list li,
.pds-list li{
    margin: 5px 0;
}

.notice-list li::before,
.pds-list li::before{
    content: "r";
    font-family: "webCafeIcon";
}

.notice-list a,
.pds-list a{
    display: inline-block;
    width: calc(100% - 90px); /*연산할때는 값사이를 꼭! 띄워야 한다*/
    white-space: nowrap; /*줄바꿈 금지*/
    overflow: hidden;
    text-overflow: ellipsis; /*말 줄임표*/
}
.notice-more, .pds-more{
    position: absolute;
    top: 0;
    right: -8px;
    padding: 8px;
}
.notice-more::before,
.pds-more::before{
    content: "p";
    font-family: "webCafeIcon";
    position: relative;
    color: rgba(0, 255, 0, 1);
    top: 2px;
    margin-right: 3px;
}
.board-date{
    float: right;
}

/* 새소식 */
.news{
  position: relative;
  margin-top: 20px;
}
.news::before{
  content: "";
  width: 80%;
  height: 1px;
  background: #ccc linear-gradient(to right, #ccc, #fff);
  position: absolute;
  left: 0;
  top: 30px;
}
.news-heading{
  margin: 0;
  font-size: 1.6rem;
  color: #f00;
}
.news-item-heading{
  position: relative;
  top: -3px;
  font-size: 1.4rem;
}
.news-item-heading::before{
  content: 'r';
  font-family: 'webCafeIcon';
  position: relative;
  top: 2px;
}
.news-item{
  position: relative;
  padding-left: 130px;
  margin-top: 30px;
}
.news-item-brief,
.news-item-date{
  padding-left: 1em;
}
.news-item-date{
  display: block;
  margin: 5px 0;
}

.news-item-brief{
  margin: 0;
  line-height: 1.5;
}
.news-item figure{
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  text-align: center;
}
.news-item img{
  margin-bottom: 15px;
  box-shadow: 0 15px 10px 5px rgba(0,0,0,0.3);
}
.news-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.news-more::before{
  content: 'p';
  font-family: 'webCafeIcon';
  position: relative;
  top:2px;
  margin-right: 3px;
  color: rgba(0, 255, 0, 1);
}



.group3 {
  width: 190px;
}

/* 신규 이벤트 및 관련 사이트 */

.event-related{
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #ccc linear-gradient(to bottom, #eee, #ccc);
}
.event{
  position: relative;
  border-bottom: 1px solid #aaa;
}
.event-heading{
  margin: 0;
  font-size: 1.6rem;
}
.event-heading span{
  color: #f00;
}
.event-thumbnail{
  text-align: center;
}
.event-thumbnail img{
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}
#event-detail p{
  margin: 10px 0;
}
#event-detail em{
  font-style: normal;
}
.btn-event-group{
  height: 18px;
  position: absolute;
  top: 0;
  right: 0;
}
.btn-event-prev,
.btn-event-next{
  width: 19px;
  height: 18px;
  border: 0;
  padding: 18px 0 0 0;
  cursor: pointer;
  overflow: hidden;
  background: #aaa url('./images/back_forward.png') no-repeat;
}
.btn-event-next{
  background-position: -36px 0;
}
/* 관련 링크 */
.related{
  margin-top: 10px;
}
.related-heading{
  margin: 0;
  font-size: 1.6rem;
}
.related-heading span{
  color: #f00;
}
.related-list{
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0 0;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}
.related-list:hover,
.related-list:focus{
  height: 125px;
}
.related-list li > a{
  display: block;
  line-height: 25px;
  padding-left: 25px;
}


.favorite{
  background: #ccc linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  position: relative;
}
.favorite-heading{
  margin: 0;
  font-size: 1.6rem;
}
.favorite-heading span{
  color: #f00;
}
.favorite-list{
  padding-left: 0;
  overflow: hidden;
}
.favorite-list li{
  counter-increment: number;
  position: relative;
  line-height: 1.5;
  padding: 2px 0;
}
.favorite-list li::before{
  content: counter(number, decimal);
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  line-height: 1.2;
  padding: 0 5px;
  font-size: 1.2rem;
  margin-right: 3px;
  background: #666;
}
.up,
.stop,
.down{
  width: 9px;
  height: 0;
  padding-top: 11px;
  overflow: hidden;
  background-color: yellow;
  position: absolute;
  right: 0;
  top: 50%;  /* starts element rendering from 50% of the height */
  transform: translateY(-50%);  /* move elements to top of half-size of element */
  background: url('./images/rank.png') no-repeat;
}
.down{
  background-position: 0 100%;
}
.stop{
  background-position: 0 50%;
}
.favorite-more{
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}
.favorite-more::before{
  content: "p";
  font-family: "webCafeIcon";
  position: relative;
  top: 2px;
  color: rgba(0, 255, 0, 1);
}


.slogan {
  position: relative;
  padding: 0 100px 0 180px;
}
/* pile up using ::after pseudo */
/* IR technique */
.slogan-heading{
  width: 110px;
  height: 83px;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
  box-sizing: border-box; /* keep the size of box content and put padding */
  position: absolute;
  left: 35px;
  bottom: -25px;
}
.slogan-heading::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url('./images/coffee.png') no-repeat;
}
.slogan-content{
  color: #a09874;
}
.slogan-content q::before{
  font-size: 3.5rem;
  position: relative;
  top: 10px;
}
.slogan-content q::after{
  quotes: "";
}

.footer-bg{
  background: linear-gradient(to bottom, #aaa 0%, #ccc 50%, #eee 70%, #fff 100%);
}
.footer{
  padding: 15px 100px 15px 180px;
  position: relative;
}
.footer-logo{
  position: absolute;
  padding: 10px;
  top: 35px;
  left: 35px;
}
.guide{
  margin: 0;
  padding-left: 21px;
  list-style: none;
  background: #7b8385;
  margin-bottom: 10px;
  border-radius: 20px;
}
.guide::after{
  content: "";
  display: table;
  clear: both;
}
.guide li{
  float: left;
}
.guide a{
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
}
.address{
  font-style: normal;
  margin-bottom: 10px;
}
.address span{
  margin-right: 15px;
}
.tech-logo{
  position: absolute;
  top: 15px;
  right: 0;
}
