.best-review
  @extend %m-s-container
  height: heightCalc(18)

.best-review-heading
  @extend %m-s-heading

.best-review-gallery
  @extend %m-s-gallery-container
  .item
    @extend %item-default-layout

.best-review-gallery
  .item
    +span(2)
    padding: heightCalc() 15px heightCalc() 15px
    img
      display: block
      height: heightCalc(6)
    .item-brand
      font-weight: bold
      height: heightCalc()
      margin-top: heightCalc()
    .item-desc
      height: heightCalc(2)
      max-height: heightCalc(2)
      overflow: hidden
      text-overflow: ellipsis
    .item-price
      color: #97191d
      margin-top: heightCalc()
      font-size: 1.35rem
    .btn-favorite
      right: 10px
      bottom: 65px
      @extend %btn-fav-default-style
      &:focus
        outline: none
      &.active
        background: $icon-url -4px -150px / cover no-repeat
        background-size: 35px
    .item-rate
      margin-top: heightCalc()
      height: heightCalc()
      text-align: center
      button
        width: 0
        height: 15px
        padding-left: 7px
        text-indent: 10px
        overflow: hidden
        background: $icon-url -2px -149px / 25px no-repeat
        border: none
        cursor: pointer
        &:focus
          outline: none
      .rated
        background-position: -2px -161px
