* {
  box-sizing: border-box;
  margin: 0; }

html {
  font-family: "Montserrat", sans-serif;
  color: #3c3d48; }

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
  opacity: 1; }
  a:hover {
    opacity: 0.5; }

ul {
  list-style-type: none;
  padding: 0; }

.sr-only {
  font-size: 0; }

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 583px;
  background-color: #f7f7f7;
  background-image: url("../assets/img/header.png");
  background-size: 630px auto;
  background-position: 48px center;
  background-repeat: no-repeat; }

.header-contents {
  width: 400.9px;
  margin-right: 189.1px; }

.category {
  margin-bottom: 15px;
  font-size: 11px;
  line-height: normal;
  letter-spacing: 2.1px;
  text-transform: uppercase; }

.title {
  margin-bottom: 14px;
  font-size: 40px;
  line-height: normal;
  font-weight: normal;
  letter-spacing: 4.5px;
  text-transform: uppercase; }

.text {
  margin-bottom: 22px;
  font-family: "PTSerif", serif;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.7px;
  color: #5b5d69; }

.banner .text {
  margin-bottom: 0; }

.btn-link {
  display: inline-block;
  padding: 12px 48px;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #e36556; }

.banner {
  width: 100%;
  background-color: #f7f7f7;
  background-position: right center;
  background-repeat: no-repeat; }
  .banner .hit-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
    margin-left: 130px; }
    .banner .hit-area .text {
      width: 379.2px; }

.banner.banner-woman {
  background-image: url("../assets/img/banner-1.png");
  background-size: 730px auto; }

.banner.banner-man {
  background-image: url("../assets/img/banner-2.png");
  background-size: 675px auto; }

.events {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.event-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px; }

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  height: 220px;
  border-radius: 5px;
  background-color: #f8f8f8;
  background-size: auto 220px;
  background-repeat: no-repeat;
  margin-bottom: 20px; }

.event:nth-child(1) {
  background-image: url("../assets/img/item-1.png"); }

.event:nth-child(2) {
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  width: 700px;
  background-image: url("../assets/img/item-2.png"); }

.event:nth-child(3) {
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  width: 460px;
  background-image: url("../assets/img/item-3.png"); }

.event:nth-child(4) {
  color: #fff;
  background-image: url("../assets/img/item-4.jpg"); }

.event:nth-child(5) {
  color: #fff;
  background-image: url("../assets/img/item-5.jpg"); }

.event-title {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.07;
  letter-spacing: 2.8px; }

.event:first-child .event-title,
.event:nth-child(4) .event-title,
.event:nth-child(5) .event-title {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 2.8px;
  text-align: center; }

.event-title span {
  display: block;
  font-size: 30px;
  line-height: 0.83;
  font-weight: bold; }

.items {
  width: 100%;
  padding-top: 50px; }

.item-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.item-list li {
  position: relative;
  width: 220px;
  border-radius: 5px;
  margin: 0 10px;
  padding-bottom: 23px;
  background: #f7f7f7;
  overflow: hidden; }
  .item-list li .item-img {
    width: 100%;
    height: auto;
    margin-bottom: 18px; }
  .item-list li .item-title {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal; }
  .item-list li .item-price {
    font-size: 14px;
    color: #e36556;
    text-align: center;
    line-height: 1;
    font-weight: bold; }
    .item-list li .item-price span {
      opacity: 0.2;
      font-size: 10px;
      line-height: 1;
      color: #000;
      text-decoration: line-through; }
  .item-list li .item-tag {
    position: absolute;
    top: 0;
    right: 0;
    width: 43px;
    height: 43px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 43px;
    text-transform: uppercase; }
  .item-list li .tag-green {
    background-color: #62b951; }
  .item-list li .tag-yellow {
    background-color: #e3db56; }
  .item-list li .tag-red {
    line-height: 1;
    padding-top: 11px;
    background-color: #e36556; }

/*# sourceMappingURL=style.css.map */
