<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Media Query</title>
  <link rel="stylesheet" href="../css/media-query.css">
</head>
<body>
  <div class="wrapper">
    <div class="header" role="banner">
      header
    </div>
    <div class="navigation" roel="navigation">
      navigation
    </div>
    <div class="container">
      <div class="main-content" role="main">
        main content
      </div>
      <div class="sidebar" role="complementary">
        aside
      </div>
    </div>
    <div class="footer" role="contentinfo">
      footer
    </div>
  </div>
</body>
</html>
