<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Picture</title>
</head>

<body>
  <h1>picture element</h1>
  <picture>
    <source srcset="../images/small.jpg" media="(max-width: 600px)">
    <source srcset="../images/medium.jpg" media="(min-width: 601px) and (max-width: 800px)">
    <source srcset="../images/large.jpg" media="(min-width: 801px)">
    <img src="../images/normal.jpg" alt="images on different viewport">
    <!-- img is a callback element when browser doesn't support source -->
  </picture>
</body>

</html>
