<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sass-01</title>
  <link rel="stylesheet" href="../css/sass-variable.css">
</head>

<body>
  <h1>Sass - Variables</h1>
  <div class="box1">1</div>
  <div class="box2">2</div>
  <div class="box3">3</div>
  <div class="box4">4</div>
  <div class="wrapper">
    <ul>
      <li><a href="">list: 1</a></li>
      <li><a href="">list: 2</a></li>
      <li><a href="">list: 3</a></li>
      <li><a href="">list: 4</a></li>
      <li><a href="">list: 5</a></li>
    </ul>
  </div>
  <div class="container">
    This is a container
  </div>
</body>

</html>
