@charset "utf-8";

html,
body{
  margin: 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  background-color: silver;
  height: 100vh;
  padding: 0 100px;
}

.header{
  background-color: yellow;
  height: 50px;
  flex: 0 0 auto;
}
.navigation{
  background-color: skyblue;
  height: 100px;
  flex: 0 0 auto;
  display: flex;
}
.main-menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: pink;
  display: flex;
  flex: 1 0 auto;
}
.main-menu > li{
  flex: 1 0 auto;
}
.main-menu > li:nth-child(odd){
  background-color: crimson;
}

.container{
  background-color: tomato;
  display: flex;
  flex: 1 0 auto;
}

.content{
  background-color: blue;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.books{
  background-color: orange;
  flex: 1 0 auto;
}

.board{
  background-color: skyblue;
  flex: 2 0 auto;
  display: flex;
}
.notice{
  background-color: violet;
  flex: 1 0 auto;
}
.pds{
  background-color: aqua;
  flex: 1 0 auto;
}
.ad{
  background-color: green;
  flex: 0 0 250px;
}

.footer{
  background-color: yellowgreen;
  height: 50px;
  flex: 0 0 auto;
}
