@charset "utf-8";
body{
    margin: 0;
}
.grid-toggle{
    position: fixed;
    top: 50px;
    right: 50px;
}
.wrapper{
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}
.show-hide-grid::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: repeating-linear-gradient(to right, rgba(255,0,0,0.3) 0px, rgba(255,0,0,0.3) 60px, transparent 60px, transparent 80px);
}
.row::before, .row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    min-height: 50px;
    width: 100%;
    background: orange;
    margin-bottom: 10px;
    float: left;
    margin-left: 20px;
    position: relative;
}
.alpha{
    margin-left: 0;
}
.omega{
    margin-right: 0;
}
.col-1{
    width: 60px;
}
.col-2{
    width: 140px;
}
.col-3{
    width: 220px;
}
.col-4{
    width: 300px;
}
.col-5{
    width: 380px;
}
.col-6{
    width: 460px;
}
.col-7{
    width: 540px;
}
.col-8{
    width: 620px;
}
.col-9{
    width: 700px;
}
.col-10{
    width: 780px;
}
.col-11{
    width: 860px;
}
.col-12{
    width: 940px;
}
.col-push-0{
    left: 0;
}
.col-push-1{
    left: 80px;
}
.col-push-2{
    left: 160px;
}
.col-push-3{
    left: 240px;
}
.col-push-4{
    left: 320px;
}
.col-push-5{
    left: 400px;
}
.col-push-6{
    left: 480px;
}
.col-push-7{
    left: 560px;
}
.col-push-8{
    left: 640px;
}
.col-push-9{
    left: 720px;
}
.col-push-10{
    left: 800px;
}
.col-push-11{
    left: 880px;
}
.col-pull-0{
    right: 0;
}
.col-pull-1{
    right: 80px;
}
.col-pull-2{
    right: 160px;
}
.col-pull-3{
    right: 240px;
}
.col-pull-4{
    right: 320px;
}
.col-pull-5{
    right: 400px;
}
.col-pull-6{
    right: 480px;
}
.col-pull-7{
    right: 560px;
}
.col-pull-8{
    right: 640px;
}
.col-pull-9{
    right: 720px;
}
.col-pull-10{
    right: 800px;
}
.col-pull-11{
    right: 880px;
}
.col-offset-0{
    margin-left: 0;
}
.col-offset-1{
    margin-left: 100px;
}
.col-offset-2{
    margin-left: 180px;
}
.col-offset-3{
    margin-left: 260px;
}
.col-offset-4{
    margin-left: 340px;
}
.col-offset-5{
    margin-left: 420px;
}
.col-offset-6{
    margin-left: 500px;
}
.col-offset-7{
    margin-left: 560px;
}
.col-offset-8{
    margin-left: 660px;
}
.col-offset-9{
    margin-left: 740px;
}
.col-offset-10{
    margin-left: 820px;
}
.col-offset-11{
    margin-left: 900px;
}
