.parent{
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #e0eced;
}
.child{
  width: 200px;
  height: 200px;
  color: #fff;
}
.red {background-color: red;}
.yellow {background-color: yellow;}
.blue {background-color: blue;}

.child:nth-child(1){order:3;}
.child:nth-child(2){order:1;}
.child:nth-child(3){order:2;}
