/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Custom Reset */
html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-y: scroll; }

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  color: #000;
  text-decoration: none; }

/* Typography
 * $base-font-size: !default
 *   -> If the variable already has an assignment, it will not be re-assigned
 * $leading-scale: is line-height
 * $leadinf: the actual height of row */
.grid-guide {
  position: relative; }
  .grid-guide::before, .grid-guide::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 10; }
  .grid-guide::before {
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, transparent 20px, #0cf 20px);
    background-size: 1px 21px; }
  .grid-guide::after {
    left: 50%;
    transform: translateX(-50%);
    width: 1080px;
    background: linear-gradient(90deg, transparent 10px, rgba(251, 137, 137, 0.35) 10px, rgba(251, 137, 137, 0.35) 80px, transparent 80px);
    background-size: 90px 1px; }

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto; }

.row::after {
  content: "";
  display: block;
  clear: both; }
.row.is-nested > :first-child {
  margin-left: 0; }
.row.is-nested > :last-child {
  margin-right: 0; }

.col {
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.is-1 {
  width: 70px; }

.offset-1 {
  margin-left: 100px; }
  .is-nested .offset-1:first-child {
    margin-left: 90px; }

.is-2 {
  width: 160px; }

.offset-2 {
  margin-left: 190px; }
  .is-nested .offset-2:first-child {
    margin-left: 180px; }

.isolate > .push-1 {
  margin-left: 190px; }

.is-3 {
  width: 250px; }

.offset-3 {
  margin-left: 280px; }
  .is-nested .offset-3:first-child {
    margin-left: 270px; }

.isolate > .push-2 {
  margin-left: 280px; }

.is-4 {
  width: 340px; }

.offset-4 {
  margin-left: 370px; }
  .is-nested .offset-4:first-child {
    margin-left: 360px; }

.isolate > .push-3 {
  margin-left: 370px; }

.is-5 {
  width: 430px; }

.offset-5 {
  margin-left: 460px; }
  .is-nested .offset-5:first-child {
    margin-left: 450px; }

.isolate > .push-4 {
  margin-left: 460px; }

.is-6 {
  width: 520px; }

.offset-6 {
  margin-left: 550px; }
  .is-nested .offset-6:first-child {
    margin-left: 540px; }

.isolate > .push-5 {
  margin-left: 550px; }

.is-7 {
  width: 610px; }

.offset-7 {
  margin-left: 640px; }
  .is-nested .offset-7:first-child {
    margin-left: 630px; }

.isolate > .push-6 {
  margin-left: 640px; }

.is-8 {
  width: 700px; }

.offset-8 {
  margin-left: 730px; }
  .is-nested .offset-8:first-child {
    margin-left: 720px; }

.isolate > .push-7 {
  margin-left: 730px; }

.is-9 {
  width: 790px; }

.offset-9 {
  margin-left: 820px; }
  .is-nested .offset-9:first-child {
    margin-left: 810px; }

.isolate > .push-8 {
  margin-left: 820px; }

.is-10 {
  width: 880px; }

.offset-10 {
  margin-left: 910px; }
  .is-nested .offset-10:first-child {
    margin-left: 900px; }

.isolate > .push-9 {
  margin-left: 910px; }

.is-11 {
  width: 970px; }

.offset-11 {
  margin-left: 1000px; }
  .is-nested .offset-11:first-child {
    margin-left: 990px; }

.isolate > .push-10 {
  margin-left: 1000px; }

.is-12 {
  width: 1060px; }

.offset-12 {
  margin-left: 1090px; }
  .is-nested .offset-12:first-child {
    margin-left: 1080px; }

.isolate > .push-11 {
  margin-left: 1090px; }

.header {
  padding-top: 42px;
  height: 189px; }

.brand {
  height: 63px; }
  .brand > img {
    width: auto;
    height: 100%; }

.search-form {
  margin-top: 10.5px;
  padding-left: 80px; }
  .search-form fieldset {
    position: relative; }
  .search-form legend, .search-form label {
    display: block;
    width: 0;
    height: 0;
    padding-left: 20px;
    overflow: hidden; }
  .search-form .search-bar {
    border: 2px solid #555656;
    height: 42px;
    width: 360px;
    color: #9c9c9c;
    font-size: 1.4rem;
    padding-left: 10px; }
  .search-form .search-btn {
    position: absolute;
    top: 10.5px;
    right: 80px;
    width: 29px;
    height: 21px;
    border: none;
    background: url("../assets/icons/icons.png");
    background-size: cover;
    background-position: 5px -205px;
    background-repeat: no-repeat;
    cursor: pointer; }

.my-menu {
  text-align: right; }
  .my-menu a {
    display: inline-block;
    width: 100%;
    margin-top: 21px;
    color: #971a1d;
    font-weight: bold;
    border: 2px solid transparent;
    line-height: 18px;
    text-align: center; }
    .my-menu a:hover {
      border: 2px solid #971a1d; }

.navigation {
  margin-top: 42px;
  list-style: none;
  padding-left: 0; }
  .navigation .nav-item {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent; }
    .navigation .nav-item:hover {
      color: #971a1d;
      border-bottom: 2px solid #bb2035; }
    .navigation .nav-item:active {
      color: #fff;
      background: #bb2035;
      border-radius: 2px; }

.filter {
  margin-top: 21px;
  border-top: 2px solid #bb2035;
  height: 42px;
  position: relative; }
  .filter > .col {
    background: #f0f0f0;
    text-align: center;
    color: #97191c;
    position: relative;
    padding-top: 10.5px;
    font-weight: bold;
    height: 42px; }
    .filter > .col:hover {
      position: absolute;
      top: 0;
      left: 0;
      height: 231px;
      background-color: #f0f0f0; }
  .filter .icon-filter {
    display: inline-block;
    background: url("../assets/icons/icons.png");
    background-size: cover;
    background-position: 5px -61px;
    background-repeat: no-repeat;
    width: 20px;
    height: 14px;
    margin-right: 8px; }

/*# sourceMappingURL=style.css.map */
