.loading{
  background: url('loading.png') no-repeat center center;
  width: 500px;
  height: 500px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
