<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>isolate box</title>
  <link rel="stylesheet" href="../css/isolate-box.css">
</head>

<body>
  <div class="container">
    <div class="grid">
      <div class="box box-float">1</div>
      <div class="box box-float">2</div>
      <div class="box box-float">3</div>
      <div class="box box-float">4</div>
    </div>
  </div>
  <div class="container">
    <div class="grid">
      <div class="box col-2">A</div>
      <!-- isolate only the element needed to be re-located -->
      <div class="box box-isolate isolate-order-1">B</div>
      <div class="box box-isolate isolate-order-2">C</div>
      <div class="box">D</div>
    </div>
  </div>
</body>

</html>
