$base-line-height: 21px
$base-font-size: 14px

html, body
  font-size: $base-font-size

a
  text-decoration: none
  color: #000

%clearfix
  &:before, &:after
    content: ""
    display: block
    clear: both

%center-box-block
	text-align: center

	// 정가운데 정렬을 위한 고스트 가상 요소
	&:before
		content: ""
		display: inline-block
		height: 100%
		vertical-align: middle

		// 상황에 따라 간격 조정이 요구됨.
		margin-right: -0.25em

	// 가운데 정렬되는 요소에 적용되는 플레이스홀더 선택자
	// 상황에 따라 width, height 설정 필요
	> div
		display: inline-block
		vertical-align: middle

%sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0
