////////////////////////////////////////////////////////////////////////////////
// Local variables
$unit-h: $leading
$unit-w: $column-width
$unit-g: $gutter-width
$icons: url('../assets/icons/icons.png')

////////////////////////////////////////////////////////////////////////////////

header
  padding-top: $unit-h * 2

.brand
  width: auto
  height: $unit-h * 3

////////////////////////////////////////////////////////////////////////////////
// Right Top Menu
.menu
  position: relative
  width: 50%
  float: left
  +clearfix

.signup, .signin, .username
  display: block
  margin: $unit-h - 1 auto 0 auto
  border: 1px solid transparent
  border-radius: 2px
  color: #971a1d
  font-weight: bold
  &:hover
    border: 1px solid #971a1d

.signup, .signin
  width: 90%
  text-align: center

.username
  width: 108%
  color: #971a1d
  padding-left: 5px
  background: $icons 185% -376px / 50px no-repeat

.cart, .alarm
  margin-top: $unit-h - 1
  display: block
  float: left
  width: 30px
  height: 21px
  padding-left: 30px
  overflow: hidden
.cart
  margin-left: 15%
  background: $icons center 3px / cover no-repeat
.alarm
  background: $icons center -20px / cover no-repeat

.username, .cart, .alarm
  display: none

////////////////////////////////////////////////////////////////////////////////
// Search input
.search
  margin-top: $unit-h / 2
  padding-left: $unit-w + 10
  fieldset
    position: relative
  legend, label
    display: block
    width: 0
    height: 0
    padding-left: 20px
    overflow: hidden
  .input
    width: ($unit-w * 4) + ($unit-g * 4)
    height: $unit-h * 2
    border: 2px solid #555656
    padding-left: 10px
    color: #9c9c9c
  .btn-mag
    position: absolute
    top: $unit-h / 2
    right: 3%
    width: 35px
    height: $unit-h
    border: none
    background: $icons center -190px / cover no-repeat
    cursor: pointer
    &:focus
      outline: none

////////////////////////////////////////////////////////////////////////////////
// Navigation
.navigation
  margin-top: $unit-h * 2
  .nav-item
    display: block
    text-align: center
    text-transform: uppercase
    font-weight: bold
    border-bottom: 2px solid transparent
    border-radius: 2px
    &:hover
      color: #971a1d
      border-bottom: 2px solid #bb2035
    &:active
      color: #fff
      background: #bb2035

////////////////////////////////////////////////////////////////////////////////
// Filter
.filter-heading
  position: relative
  color: #971a1d
  font-size: 1.4rem
  padding-left: 25px
  &:before
    content: ''
    display: block
    width: 35px
    height: $unit-h - 1
    position: absolute
    top: 0
    left: 0
    background: $icons center -92px / cover no-repeat

.none
  margin-top: $leading
  position: relative
  & > .col
    border-top: 2px solid #bb2035
    background: #f0f0f0
    text-align: center
    color: #97191c
    position: relative
    padding-top: $leading / 2
    font-weight: bold
    height: $leading * 2
    overflow: hidden
    &:hover
      position: absolute
      top: 0
      left: 0
      height: $leading * 12
      background-color: #f0f0f0
  .icon-filter
    display: inline-block
    background: url('../assets/icons/icons.png')
    background-size: cover
    background-position: 5px -61px
    background-repeat: no-repeat
    width: 20px
    height: $leading / 1.5
    margin-right: 8px
  .filter-age, .filter-style
    text-align: left
    margin-top: $leading * 2.5
    dl
      +clearfix
    dl > dt, dl > dd
      float: left
    dl > dt
      margin-right: $gutter-width
    dl > dd
      cursor: pointer
      width: $column-width
      height: $leading
      margin-right: $gutter-half-width
      text-align: center
      display: block
      height: 100%
      border-radius: 2px
      background: #aaa
      color: #fff
      font-weight: bold
      font-size: 1.2rem
      line-height: $leading
      &.active
        background: #ba2034
  .filter-style
    margin-top: $leading
  .filter-btn-group
    margin-top: $leading * 2
    button
      color: #fff
      height: $leading * 2 - 10
      border-radius: 15px
      background: #aaa
      font-weight: bold
      border: none
      padding: 0 20px
      font-size: 1.4rem
      margin-right: 10px
      cursor: pointer
      &:hover, &:active
        background: #ba2034
