.show-grid
  +gridGuide($leading, $columnWidth, $gutterWidth, $containerWidth)

.container
  width: $containerWidth
  margin-left: auto
  margin-right: auto

.row
  +isNested
  +clearfix

.col
  float: left
  margin-left: $gutterWidth / 2
  margin-right: $gutterWidth / 2

// Column, offsets 1 to 12
@for $i from 1 through $columns
  .is-#{$i}
    width: columnWidth($i)
  .offset-#{$i}
    margin-left: offsetWidth($i)
