/* ! grid.sass

/* Toggle grid module */
.show-grid
  +show-grid

/* Container module
.container
  width: $container-width
  margin-left: auto
  margin-right: auto

/* Row module
.row
  +clearfix

/* Column module
.col
  float: left
  margin-left: $gutter-width / 2
  margin-right: $gutter-width / 2

@for $i from 1 through $columns
  .is-#{$i}
    width: ( ($column-width * $i) + ($gutter-width * 2) * ($i - 1) )
    
/* Offset module

/* Utility module
