/*
  Typography
  $base-font-size: !default
    -> If the variable already has an assignment, it will not be re-assigned
  $leading-scale: is line-height
  $leadinf: the actual height of row */

$base-font-size: 14px !default
$leading-scale: 1.5
$leading: $base-font-size * $leading-scale

// Grid guideline
$grid-height: 100vh
$grid-column-number: 12
// Grid column properties
$column-width: 70px
$column-color: rgba(#fb8989, 0.35)
$gutter-style: 'split'
$gutter-width: 20px
$gutter-half-width: $gutter-width / 2

// page-container width
$container-width: ($column-width + $gutter-width) * $grid-column-number

// Functions
@function col-width-calc($n)
  @return ($column-width * $n) + $gutter-width * ($n - 1)

@function col-offset-calc($n)
  @return col-width-calc($n) + $gutter-width + $gutter-half-width

// Mixins
=clearfix
  &::before
    content: ''
    display: table
    clear: both
  &::after
    content: ''
    display: table
    clear: both

// Utility classes
.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0
