/*! Variables, mixins, functions */

// Variable: Base
$baseFontSize: 14px
$baseLineHeight: 1.5

// Variable: Grid layout
$rowHeight: 20px
$columns: 12
$columnWidth: 70px
$gutterStyle: split
$gutterWidth: 10px

// Variable: etc.
$containerWidth: 1080px


// Mixin: Clearfix
=clearfix
  &::after
    content: ''
    display: block
    clear: both

// Mixin: grid layout styles
=gridGuide
  position: relative
  &::before, &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100vh
    z-index: 10
  &::before
    background: repeating-linear-gradient(to bottom, rgba(255,255,255,0.1) 0px, rgba(255,255,255,0.1) $rowHeight, #aaa $rowHeight, #aaa $rowHeight + 1)
  &::after
    left: 50%
    width: $containerWidth
    transform: translateX(-50%)
    background: repeating-linear-gradient(to right, rgba(125,38,38,0.25) 0px, rgba(125,38,38,0.25) $columnWidth, transparent $columnWidth, transparent $columnWidth + $gutterWidth * 2)
